/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* White background */
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header */
header {
    padding: 20px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background-color: #008080; /* Teal header */
    color: #FFFFFF; /* White text */
    border-radius: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

/* Navigation */
.navigation {
    display: flex;
    list-style: none;
    background-color: #FFA500; /* Orange navigation */
}

.navigation a {
    display: block;
    color: white;
    padding: 20px;
    transition: font-weight 0.3s, background-color 0.3s;
    text-decoration: none;
}

.navigation a:hover,
.navigation a:focus {
    font-weight: 700;
    background-color: #FF4500; /* Red hover */
}

/* Hamburger Icon Styling */
.ham-button .bar {
    background-color: #FFFFFF; /* White bars for contrast */
}

/* Hero Section */
.hero h1 {
    color: white;
    font-size: 2.0em;
    background-color: rgba(12, 12, 12, 0.6);
}

/* Footer */
footer {
    background-color: #008080; /* Teal footer */
    color: #FFFFFF; /* White text */
    padding: 1rem;
    text-align: center;
    margin-top: 20px;
}

/* Section Headers */
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #FFA500; /* Orange headers */
    border-bottom: 2px solid #FF4500; /* Red underline */
    padding-bottom: 5px;
}

/* Home Grid */
.home-item {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
}

/* Events & Weather Sections */
.events, .current-weather, .weather-forecast {
    background-color: rgba(244, 226, 216, 0.8);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* Active Link */
nav ul li a.active {
    color: #FF4500; /* Red for active links */
    background-color: #FFA500; /* Orange background for active link */
}

/* Buttons */
.join-button {
    background-color: #FFA500; /* Orange button */
    color: black;
}

.join-button:hover {
    background-color: #FF4500; /* Darker red hover */
}

/* Spotlight */
.spotlight-card {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
