/* Mobile Styles */
@media (max-width: 768px) {
    .ham-button {
        display: flex; /* Show hamburger icon on small screens */
    }
    .navigation {
        display: none; /* Initially hidden */
        transition: max-height 0.3s ease-out; /* Smooth transition */
        overflow: hidden; /* Hide overflow for animation */
        max-height: 0; /* Start hidden */
    }
    /* Display navigation when the menu is active */
    .navigation.show {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: grey;
        position: absolute;
        top: 60px; /* Adjust based on header height */
        right: 10px;
        z-index: 1000;
        padding: 10px;
        text-align: left;
        max-height: 500px; /* Adjust based on your content */
    }
    .navigation a {
        color: #ffffff; /* Ensure visibility on dark background */
    }
    .employee-profiles {
        display: flex;
        flex-direction: column;
    }
    
}
